<%= form_for @user do |f| %>
	<% if @user.errors.any? %>
		<div class="error_messages">
			<h2>Oops...Looks like you made <%= pluralize @user.errors.count, 'error' %></h2>
			<ul>
				<% @user.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="field">
		<%= f.label :first_name %>
		<%= f.text_field :first_name %><br>
	</div>
	<div class="field">
		<%= f.label :middle_initial %>
		<%= f.text_field :middle_initial %><br>
	</div>
	<div class="field">
		<%= f.label :last_name %>
		<%= f.text_field :last_name %><br>
	</div>
	<div class="field">
		<%= f.label :email %>
		<%= f.text_field :email %><br>
	</div>
	<div class="field">
		<%= f.label :password %>
		<%= f.password_field :password %><br>
	</div>
	<div class="field">
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %><br>
	</div>
	<div class="actions">
		<%= f.submit 'Sign Up' %>
	</div>
<% end %>