<!DOCTYPE html>
<html>
	<head>
	  <title>Railscastdemo</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<% flash.each do |key, msg| %>
			<%= content_tag :p, msg, id: key %>
		<% end %>
		<div id="container">
			<div class="user_header">
				<%= link_to "Sign Up", new_user_path %> or
				<%= link_to "Log In", new_session_path %>
			</div>
			<%= yield %>
		</div>
	</body>
</html>
