<h3>Tasks</h3>

<% @task_months.each do |month, tasks| %>
	<h4><%= month.strftime("%B %Y") %></h4>
	<table>
	  <% tasks.each do |task| %>
	    <tr>
	    	<td>
	    		<b><%= link_to task.name, task_path(task) %></b>
					<!-- <small>in <%= task.project.name %></small> -->
		    	<small> in <%= task.project.name %></small>
		    	( due on <%= task.due_at.to_date.to_s(:long) %>)
		    </td>
		  </tr>
	  <% end %>
  </table>
<% end %>